<table cellspacing="3" cellpadding="3" border="1">
	<tr>
		<td align="center"><b>Tabla</b></td>
		<td align="center"><b>Administrador</b></td>
		<td align="center"><b>Accion</b></td>
		<td align="center"><b>Fecha inicio</b></td>
		<td align="center"><b>Fecha fin</b></td>
		<td align="center"><b>Segundos</b></td>
	</tr>
	<!-- BEGIN ITEM -->
	<tr>
		<td>{tabla}</td>
		<td>{administrador}</td>
		<td align="center">{accion}</td>
		<td align="center">{fecha_inicio}</td>
		<td align="center">{fecha_fin}</td>
		<td align="center">{segundos}</td>
	</tr>
	<!-- END ITEM -->
</table>