<input type="hidden" id="hdn_op" 		     name="hdn_op"   		  value="{op}" 	 		  />
<input type="hidden" id="hdn_id" 		     name="hdn_id"   		  value="{id}" 		      />

<input type="hidden" id="hdn_page" 		     name="hdn_page" 		  value="{page}" 		  />

<!-- Buscador -->
<input type="hidden" id="hdn_search_field"   name="hdn_search_field"  value="{search_field}"  />
<input type="hidden" id="hdn_search_signo"   name="hdn_search_signo"  value="{search_signo}"  />
<input type="hidden" id="hdn_search_text"    name="hdn_search_text"   value="{search_text}"   />

<input type="hidden" id="hdn_search_fk"      name="hdn_search_fk"	  value="{search_fk}"     />
<input type="hidden" id="hdn_search_chk"     name="hdn_search_chk"    value="{search_chk}"    />

<!--<input type="hidden" id="hdn_search_estado"  name="hdn_search_estado" value="{search_estado}" />-->

<input type="hidden" id="hdn_OrderBy" 	     name="hdn_OrderBy"	      value="{OrderBy}"       />

<input type="hidden" id="hdn_search_requested" name="hdn_search_requested" value="{search_requested}"/>

<!-- injerto para buscar por idiomas-->
<input type="hidden" id="hdn_search_idioma"  name="hdn_search_idioma" value="{search_idioma}" />
