<html>

	<head>

		<title>{title}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href="{link_href}styles.css" rel="stylesheet" type="text/css"/>

	</head>

	<body topmargin="10" bottommargin="10" leftmargin="10" rightmargin="10" onLoad="if(window.subOnLoad){subOnLoad();}">
				
		<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" align="center">

			<tr height="20">
				<td><table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="bottom"><span class="font_titulo_1">{titulo_1}</span><span class="font_titulo_2">{titulo_2}</span></td>
						<td align="right" valign="bottom" class="font_SubTit">{SubTitulo}</td>
					</tr>
				</table></td>
			</tr>

			<tr height="5">
				<td><img src="{img_src}trans.gif" width="1"></td>
			</tr>

			<tr height="2">
				<td bgcolor="e2e2e2"><img src="{img_src}trans.gif" width="1"></td>
			</tr>

			<tr height="5">
				<td><img src="{img_src}trans.gif" width="1"></td>
			</tr>

			<tr>
				<td align="center" valign="middle">
					<div id="div" style="width:100%; height:400px; overflow:auto;">
						<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td align="center" valign="middle">{BODY}</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>

			<tr height="5">
				<td><img src="{img_src}trans.gif" width="1"></td>
			</tr>

			<tr height="2">
				<td bgcolor="e2e2e2"><img src="{img_src}trans.gif" width="1"></td>
			</tr>

			<tr height="5">
				<td><img src="{img_src}trans.gif" width="1"></td>
			</tr>

			<tr height="15">
				<td align="right"><a href="JavaScript:window.close ()">Cerrar</a></td>
			</tr>

		</table>
		
	</body>
	
</html>
