						<table width="960" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td height="10"></td>
          					</tr>
          					<tr>     					
            					<td align="right"><table border="0" cellpadding="0" cellspacing="0"><form name="frmBuscar" action="" method="post">
              						<tr>
                						<td height="20">&nbsp;</td>
                						<td><span class="Estilo29">Buscar</span>&nbsp;</td>
                						<td><input type="text" id="sBuscadorTexto" name="sBuscadorTexto" size="10" /></td>
                						<td height="20" align="center">&nbsp;<span class="Estilo29">en</span>&nbsp;</td>
                						<td bordercolor="#000000"><select id="sBuscadorSeccion" name="sBuscadorSeccion"> 
                							<option value="todo" selected>Todo el sitio</option>
                							<option value="cart">Cartelera</option>
                							<option value="musi">Musicales</option>
                							<option value="nota">Notas</option>
                							<option value="noti">Noticias</option>
                							<option value="clas">Clases</option>
                							<option value="cast">Castings</option>
                						</select></td>
						                <td height="20">&nbsp;</td>
						                <td height="20" align="center" bgcolor="#3B3B3F"><input type="submit" value="Buscar >>" /></td>
						                <td width="13" height="20">&nbsp;</td>
              						</tr>
            					</form></table></td>
          					</tr>
          					<tr>
            					<td height="10"></td>
          					</tr>
        				</table>